In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline

#from pandas.io.data import DataReader
# from pandas.io import data
from pandas_datareader import data,wb

from datetime import datetime

# Yahoo Finance

In [2]:
start = datetime(1900,1,1)
# end = datetime(2013,1,1)
end = datetime.now()
S1101 = data.DataReader('1101.tw', 'yahoo',start,end)

In [3]:
S1101.describe()

,Open,High,Low,Close,Volume,Adj Close
count,4467.000000,4467.000000,4467.000000,4467.000000,4.467000e+03,4467.000000
mean,28.272047,28.604452,27.893845,28.236354,3.695252e+09,20.296369
std,12.251890,12.355374,12.104812,12.237210,1.241274e+10,11.984120
min,6.336800,6.381760,6.291870,6.291870,0.000000e+00,2.839490
25%,17.396535,17.648680,17.236170,17.419470,6.799500e+06,8.601060
50%,29.821600,30.117800,29.426600,29.750000,1.273900e+07,20.651200
75%,37.350000,37.721330,36.816275,37.300000,3.275490e+07,30.676100
max,59.939360,59.939360,57.964400,59.840580,1.739255e+11,44.623930

In [4]:
S1101.head()

                Open      High       Low     Close        Volume  Adj Close
Date
2000-01-04  27.31084  27.95728  27.31084  27.95728   82547680000   11.20386
2000-01-05  27.39163  29.41176  27.39163  28.68452  127366387200   11.49530
2000-01-06  28.44215  28.76531  27.23005  27.47254   63273696000   11.00960
2000-01-07  26.34136  27.55333  25.85649  27.39163   74418476800   10.97717
2000-01-10  27.47254  28.44215  27.06847  28.28044   66874060800   11.33337

In [5]:
S1101Act = data.DataReader('1101.tw', 'yahoo-actions',start,end)

In [6]:
S1101Act.head()

              action  value
2016-07-25  DIVIDEND   1.33
2015-07-23  DIVIDEND   2.49
2014-07-17  DIVIDEND   2.30
2013-07-25  DIVIDEND   1.90
2012-07-26  DIVIDEND   1.90

In [7]:
S1101Divid = data.DataReader('1101.tw', 'yahoo-dividends',start,end)

In [8]:
S1101Divid.head()

            Dividends
Date
2000-07-21   0.185185
2003-08-13   0.098039
2004-08-26   0.338164
2005-09-19   0.666667
2006-08-25   1.384320

In [9]:
S1101Divid.tail()

            Dividends
Date
2012-07-26       1.90
2013-07-25       1.90
2014-07-17       2.30
2015-07-23       2.49
2016-07-25       1.33

# ＨＴＭＬ

In [25]:
url = 'http://www.wantgoo.com/Stock/report/basic_dp?StockNo=1101'

In [26]:
df = pd.io.html.read_html(url)

In [27]:
type(df[0])

pandas.core.frame.DataFrame

In [28]:
df[0]

     年度   除權息日  股票股利  現金股利  除權息前股價  現金殖利率%  扣抵稅率%
0  2016  07/25   0.0  1.33   34.85    3.82  10.57
1  2015  07/23   0.0  2.49   39.10    6.37   8.55
2  2014  07/17   0.0  2.30   46.20    4.98   7.82
3  2013  07/25   0.0  1.90   38.50    4.94   5.72
4  2012  07/26   0.0  1.90   35.40    5.37   5.75
5  2011   7/26   0.0  2.00   48.30    4.14  11.23
6  2010   7/14   0.0  1.80   28.85    6.24   2.60
7  2009    NaN   0.0  1.32   32.42    4.07    NaN
8  2008    NaN   0.1  1.90   38.48    4.94    NaN
9  2007    NaN   0.1  1.70   37.75    4.50    NaN

In [33]:
cnt = 0
for i in df:
    print('\nNo. %d DataFrame'% cnt)
    print(i)
    cnt = cnt +1

No. 0 DataFrame
     年度   除權息日  股票股利  現金股利  除權息前股價  現金殖利率%  扣抵稅率%
0  2016  07/25   0.0  1.33   34.85    3.82  10.57
1  2015  07/23   0.0  2.49   39.10    6.37   8.55
2  2014  07/17   0.0  2.30   46.20    4.98   7.82
3  2013  07/25   0.0  1.90   38.50    4.94   5.72
4  2012  07/26   0.0  1.90   35.40    5.37   5.75
5  2011   7/26   0.0  2.00   48.30    4.14  11.23
6  2010   7/14   0.0  1.80   28.85    6.24   2.60
7  2009    NaN   0.0  1.32   32.42    4.07    NaN
8  2008    NaN   0.1  1.90   38.48    4.94    NaN
9  2007    NaN   0.1  1.70   37.75    4.50    NaN

No. 1 DataFrame
        買超   張數     賣超  張數.1
0       凱基  995  凱基-信義  -576
1     美商高盛  577     富邦  -348
2  元大-新店中正  310  港商麥格理  -321
3       台新  167  元大-復北  -300
4       美林  151  國票-台南  -201

No. 2 DataFrame
     名稱     漲幅%      名稱.1   漲幅%.1
0  資產概念   ▲0.08      內需收成  ▼-0.01
1  香港掛牌  ▼-0.04  兩岸三地500指  ▼-0.16
2  MSCI  ▼-0.22      中概內需  ▼-0.26
3  基礎建設  ▼-0.26      現股當沖  ▼-0.28

No. 3 DataFrame
          名稱         到期日       名稱.1       到期日.1
0  台泥日盛69購01  2017-09-14  台泥日盛69購01  2017-08-15
1  台泥元大68購01  2017-08-15  台泥元大68購01  2017-08-14
2  台泥元大68購02  2017-08-14  台泥元大68購02  2017-07-28
3  台泥永豐66購01  2017-06-27  台泥永豐66購01  2017-06-21
4  台泥國泰66購01  2017-06-20  台泥國泰66購01  2017-06-12
5  台泥凱基66售02  2017-06-12  台泥凱基66售02  2017-05-23
6  台泥統一65購01  2017-05-18  台泥統一65購01  2017-05-12

No. 4 DataFrame
   股票     股價     漲跌    漲幅%      成交量
0  華榮   9.71  ▲0.57  6.24%  3687000
1  嘉泥  11.50  ▲0.35  3.14%  2648000
2  士紙  35.50   ▲0.6  1.72%    63000
3  國產   8.65  ▲0.14  1.65%  2711000
4  唐榮  49.10  ▲0.75  1.55%    12000
5  達新  26.25  ▲0.25  0.96%    26000

No. 5 DataFrame
       股票     股價      漲跌     漲幅%   成交量
0      嘉泥  11.50   ▲0.35   3.14%  2648
1  美源伯根公司  86.60   ▲0.61   0.71%   486
2      東泥  16.30   ▲0.05   0.31%    47
3      環泥  26.70       0   0.00%   226
4      聯成  13.45   ▼-0.1  -0.74%  1647
5      亞泥  30.25  ▼-0.55  -1.79%  2655

No. 6 DataFrame
      日期    外資   投信   自營    總和
0  03/24   207  -99 -160   -52
1  03/23  -353 -100  227  -226
2  03/22 -1868    0  -35 -1903
3  03/21   422  -98 -460  -136
4  03/20  -204   97  -88  -195
5  03/17   765   60   67   892
6  03/16  1034   47  -16  1065
7  03/15  1889 -110  573  2352

No. 7 DataFrame
   融資變化  融資餘額  資券互抵
0   -87  5495     1

No. 8 DataFrame
      期間    2017    2016
0   每股盈餘     NaN    1.23
1  營業毛利率     NaN  16.34%
2  營業利益率     NaN  10.52%
3  稅前純益率     NaN   9.72%
4   累計營收  1209.0    8957
5  無償配股率     NaN   0.00%
6   現金股利     NaN    1.33